@use "../../styles/partials/variables" as *;
.Video-List--detail {
  display: flex;

  img {
    width: 9rem;
    max-height:7.5rem;
    border-radius: 4px;
    margin: 1vh 5vw;
    @include desktop{
        margin: 1vh 0;
    }
  }
}
.Video-List {
    @include tablet{
        margin-right: 45%;
        @include desktop {
            margin-right:0;
        }
    }
  &--bold {
    color: #323232;
    font-family: "Avenir bold";
    font-size: 1.2rem;
   
  }
  &--regular {
    color: #323232;
  }
  &-title{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}
.Video__header{
    font-size:1rem;
    color: #afafaf;
    margin-left: 5vw;
    @include desktop{
        margin:0;
    }
    
}
.Video-div{
@include desktop{
   padding-left:2vw;
}
}
