@font-face {
    font-family: "Avenir bold";
    src: url(../../assets/Font/AvenirNextLTProBold.ttf);
}

@font-face {
    font-family: "Avenir regular";
    src: url(../../assets/Font/AvenirNextLTPro.ttf)
    ;
}