@font-face {
    font-family: "Avenir bold";
    src: url(../../assets/Font/AvenirNextLTPro-Bold.otf);
}

@font-face {
    font-family: "Avenir Regular";
    src: url(../../assets/Font/AvenirNextLTPro-Regular.otf)
    ;
}