.main__title--bold {
  font-size: 2.4rem;
  font-family: "Avenir bold";
  border-bottom: 1px #E1E1E1;
}
.main__title-content {
  font-family: "Avenir bold";
  border-bottom: 1px black;
}
.main__video-detail {
  display: flex;
  justify-content: space-around;
  margin-right: 5vw;
}
.main__subtitle {
  font-size: 1rem;
  font-family: "Avenir regular";
}
.main__views {
  font-size: 1.2rem;
}
.main__likes {
  font-size: 1.2rem;
}
.main__date {
  font-family: "Avenir regular";
  color: #afafaf;
  font-size: 1.2rem;
}
.main__viewbar {
  font-size: 1rem;
  font-family: "Avenir regular";
  color: #afafaf;
}
.main__likes-div {
  display: flex;
}
.main__views-div {
  display: flex;
}

.comments__image {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}
.comments__button {
  background-color: #0095ff;
  color: white;
  border: none;
  width: 50%;
  margin-left: 30%;
  height: 40px;
}
.comments__label {
  color: #afafaf;
  font-family: "Avenir bold";
}

.button-div {
  height: 5vh;
}

.form {
  display: flex;
  flex-direction: column;
  margin-left: 5vw;
  border-bottom: 1px solid #afafaf;
  padding-bottom: 5vh;
  margin-right: 5vw;
}
.form__image {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  margin-right: 2vw;
}
@media (min-width: 768px) {
  .form__image {
    width: 5rem;
    height: 5rem;
  }
}
.form__username-input {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.form__username {
  border-radius: 4px;
  height: 5vh;
  border: 1px solid #afafaf;
  background-color: #E1E1E1;
  color: BLACK;
  display: flex;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-direction: column;
  justify-content: space-between;
}
@media (min-width: 1280px) {
  .form__username {
    width: 70%;
  }
}
.form__username::-moz-placeholder {
  color: #323232;
  text-align: 1% 1%;
}
.form__username::placeholder {
  color: #323232;
  text-align: 1% 1%;
}
.form__input-text {
  border-radius: 4px;
  height: 15vh;
  border: 1px solid #afafaf;
  background-color: #E1E1E1;
  color: #323232;
  display: flex;
  flex-direction: column;
  justify-content: end;
  flex: 1;
}
@media (min-width: 1280px) {
  .form__input-text {
    width: 70%;
  }
}
.form__input-text::-moz-placeholder {
  color: #323232;
  text-align: left start;
}
.form__input-text::placeholder {
  color: #323232;
  text-align: left start;
}
.form__text-input {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.form__content {
  display: flex;
  flex-direction: column;
  width: 85%;
  justify-content: space-between;
}
.form__label {
  color: #afafaf;
  font-family: "Avenir regular";
  font-size: 1rem;
  font-weight: 400;
  margin-left: 7.3vh;
}
@media (min-width: 1280px) {
  .form__label {
    margin-left: 5vw;
  }
}
.form__name {
  color: #afafaf;
  display: flex;
  flex-direction: column;
  padding-bottom: 3vh;
}
.form__text {
  color: #afafaf;
  display: flex;
  flex-direction: column;
  padding-bottom: 5vh;
  font-size: 1rem;
  font-family: "Avenir Next";
}
.form__button {
  background-color: #0095ff;
  color: white;
  border: none;
  height: 6vh;
  border-radius: 1px #e1e1e1;
  justify-content: end;
  width: 86%;
  background-image: url(../../assets/Icons/add_comment.svg);
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 0.8rem;
}
@media (min-width: 768px) {
  .form__button {
    width: 30%;
  }
}
@media (min-width: 1280px) {
  .form__button {
    width: 30%;
  }
}
.form__button-box {
  display: flex;
  justify-content: end;
  margin-top: 2vh;
}
@media (min-width: 1280px) {
  .form__button-box {
    width: 70%;
  }
}

.comments-list {
  margin: 0 5vw;
}
@media (min-width: 1280px) {
  .comments-list {
    width: 1020px;
    margin: auto;
  }
}

.comments {
  display: flex;
  border-bottom: 1px solid #e1e1e1;
  margin: 5vw;
}
@media (min-width: 1280px) {
  .comments {
    width: 70%;
  }
}
.comments__detail {
  border-bottom: 1px solid #E1E1E1;
}
.comments__image {
  width: 3rem;
  border-radius: 50%;
  height: 3rem;
}
@media (min-width: 768px) {
  .comments__image {
    width: 5rem;
    height: 5rem;
  }
}
.comments__image--placeholder {
  width: 3rem;
  border-radius: 50%;
  height: 3rem;
  margin-right: 2vw;
}
@media (min-width: 768px) {
  .comments__image--placeholder {
    width: 5rem;
    height: 5rem;
  }
}
.comments__header {
  display: flex;
  justify-content: space-around;
}
.comments__username {
  color: #323232;
  font-family: Avenir demi;
}
.comments__date {
  color: #afafaf;
  font-family: "Avenir regular";
}
.comments__text {
  color: #323232;
  font-family: "Avenir regular";
}
.comments__content {
  display: flex;
}
.comments__input {
  display: flex;
  flex-direction: row;
}/*# sourceMappingURL=RestOfVideo.css.map */